<template>
    <div class="text-xs-center">
        <v-avatar size="150px">
            <img :src="profile.imageUrl"
                :alt="profile.title">
        </v-avatar>
        <h1 class="title-spacer display-3">
            {{ profile.title }}
        </h1>
        <p>{{ profile.description }}</p>
        <p>{{ profile.location }}</p>
        <ProfileLinkRow :links="profile.links"/>
        <p>{{ currentYear }}</p>
    </div>
</template>

<script lang="ts">

import Vue from 'vue';

import { ProfileLinkInfo } from './ProfileLinkRow.vue';
import ProfileLinkRow from './ProfileLinkRow.vue';

export interface ProfileInfo {
    title: string;
    description: string;
    location: string;
    imageUrl: string;
    links: ProfileLinkInfo[];
}

export default Vue.extend({
    components: {
        ProfileLinkRow,
    },
    data() {
        const currentYear: string = (new Date()).getFullYear().toString();

        return {
            currentYear,
        };
    },
    props: {
        profile: Object as () => ProfileInfo,
    },
});

</script>

<style scoped>

.title-spacer {
    margin-top: 20px;
    margin-bottom: 20px;
}

</style>