<template>
    <v-app>
        <v-navigation-drawer v-model="drawer"
            absolute
            temporary
        >
            <v-toolbar color="primary">
                <v-list>
                    <v-list-tile color="white">
                        <v-list-tile-title class="title">
                            {{ title }}
                        </v-list-tile-title>
                    </v-list-tile>
                </v-list>
            </v-toolbar>
            <v-divider></v-divider>
            <v-list class="pt-0">
                <v-list-tile
                    v-for="item in items"
                    :key="item.title"
                    :to="item.url"
                >
                    <v-list-tile-content>
                        <v-list-tile-title>
                            {{ item.title }}
                        </v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>

        <v-toolbar dark
            color="primary">
            <v-toolbar-side-icon @click="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title>
                <nuxt-link to="/">{{ title }}</nuxt-link>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-toolbar-items class="hidden-sm-and-down">
                <v-btn v-for="item in items"
                    :key="item.title"
                    class="text-lowercase"
                    flat
                    nuxt :to="item.url"
                >
                    {{ item.title }}
                </v-btn>
            </v-toolbar-items>
        </v-toolbar>
        <v-content>
            <v-container fluid
                fill-height
                style="padding: 0px"
            >
                <nuxt/>
            </v-container>
        </v-content>
    </v-app>
</template>

<script lang="ts">

import Vue from 'vue';

export default Vue.extend({
    data() {
        return {
            drawer: false,
            title: 'timX',
            items: [
                {
                    title: 'project',
                    url: '/project',
                },
                {
                    title: 'cooking',
                    url: '/cooking',
                },
                {
                    title: 'location',
                    url: '/location',
                },
                {
                    title: 'blog',
                    url: '/blog',
                },
                {
                    title: 'food',
                    url: '/food',
                },
                {
                    title: 'links',
                    url: '/links',
                },
            ],
        };
    },
});

</script>

<style scoped>
a {
    color:white;
    text-decoration: none;
}
</style>
