<template>
    <v-container fill-height>
        <v-layout column>
            <div v-html="blog"></div>
        </v-layout>
    </v-container>
</template>

<script lang="ts">

import Vue from 'vue';

export default Vue.extend({
    async asyncData({ app, params }) {
        const blog = await app.$axios.$get(`/api/blog/${(params as any).id}`);

        return {
            blog,
        };
    },
});

</script>
