<template>
    <v-container fill-height>
        <v-layout column>
            <v-layout row>
                <p>Below is the list of restaurant that I went to in Tokyo, Japan</p>
                <v-spacer></v-spacer>
                <v-btn fab
                    flat
                    @click="toggleViewClick"
                >
                    <v-icon v-if="isListView"
                        color="primary"
                    >
                        view_module
                    </v-icon>
                    <v-icon v-else
                        color="primary"
                    >
                        list
                    </v-icon>
                </v-btn>
                <!-- <RestaurantDialog/> -->
            </v-layout>
            <RestaurantList
                v-if="isListView"
                :restaurant="restaurant"
                :headers="headers"/>
            <RestaurantCard
                v-else
                :restaurant="restaurantByCategories"/>
        </v-layout>
    </v-container>
</template>

<script lang="ts">

import Vue from 'vue';

import RestaurantList from '../components/RestaurantList.vue';
import RestaurantCard from '../components/RestaurantCard.vue';
import RestaurantDialog from '../components/RestaurantDialog.vue';

import { RestaurantInfo } from '../server/models/restaurant/restaurant.schema';

export default Vue.extend({
    components: {
        RestaurantList,
        RestaurantCard,
        RestaurantDialog,
    },
    data() {
        const isListView = true;
        const headers = [
            {
                text: 'Restaurant Name',
                value: 'name',
            },
            {
                text: 'Rating',
                value: 'rating',
            },
        ];

        return {
            headers,
            isListView,
        };
    },
    computed: {
        restaurant(): RestaurantInfo[] {
            return this.$store.state.restaurant.restaurants;
        },
        restaurantByCategories(): any {
            return this.$store.getters.getRestaurantByCategories;
        },
    },
    methods: {
        toggleViewClick() {
            this.isListView = !this.isListView;
        },
    },
});

</script>

<style scoped>

</style>
