<template>
    <v-container fill-height>
        <v-layout align-center
            justify-center
            column
            fill-height
        >
            <Profile :profile="profile"/>
        </v-layout>
    </v-container>
</template>

<script lang="ts">

import Vue from 'vue';

import Profile from '~/components/Profile.vue';
import { ProfileInfo } from '~/components/Profile.vue';

export default Vue.extend({
    components: {
        Profile,
    },
    data() {
        const profile: ProfileInfo = {
            title: 'tim',
            description: 'I turn ideas into reality',
            location: 'Tokyo, Japan',
            imageUrl: 'https://lh4.googleusercontent.com/-hS29IlO5' +
                'vcc/U1iffIjfuXI/AAAAAAAABVI/2Vqkbf-csK8/w414-h413' +
                '-no/10250740_10152711781633998_1735679034_n.jpg',
            links: [
                {
                    image: 'gitlab.png',
                    url: 'https://gitlab.com/users/hosweetim/projects',
                },
                {
                    image: 'github.png',
                    url: 'https://github.com/sweetim',
                },
                {
                    image: 'docker.png',
                    url: 'https://hub.docker.com/r/timx/',
                },
                {
                    image: 'linkedin.png',
                    url: 'https://www.linkedin.com/in/swee-tim-ho-8a378048',
                },
                {
                    image: 'stackoverflow.png',
                    url: 'http://stackoverflow.com/users/2297825/tim',
                },
            ],
        };

        return {
            profile,
        };
    },
});

</script>
