<template>
    <v-container style="padding: 0px"
        fluid
        fill-height>
        <v-layout v-if="downloadPercentage < 100"
            align-center
            justify-center
            column
            fill-height
        >
            <v-progress-circular style="margin-bottom: 10px"
                :rotate="-90"
                :size="100"
                :width="15"
                :value="downloadPercentage"
                color="primary"
            >
                {{ downloadPercentage }}
            </v-progress-circular>
            <p>downloading data...</p>
        </v-layout>
        <div v-else
            id="map"></div>
    </v-container>
</template>

<script lang="ts">

import Vue from 'vue';
import styles from '~/assets/google-map-styles';

export default Vue.extend({
    computed: {
        downloadPercentage(): number {
            return this.$store.state.location.downloadPercentage;
        },
    },
    async mounted() {
        await this.$store.dispatch('getLocationData');

        const data = this.$store.state.location.data.map((p: any) => {
            return new google.maps.LatLng(p.lat, p.lng);
        });

        const element = document.getElementById('map');
        const map = new google.maps.Map(element, {
            center: {
                lat: 35.716423,
                lng: 139.756098,
            },
            zoom: 9,
            styles,
        });

        const heatMap = new google.maps.visualization.HeatmapLayer({
            data,
            map,
            maxIntensity: 20,
        });
    },
});
</script>

<style scoped>

#map {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.no-transition .progress-circular__overlay {
    transition: all 0.1s ease-in-out;
}

</style>
